* {
	margin:0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
}

body {
	background:#bebebe;
	font-size:13px;
}


.nwt_root .main .inner {
	width:960px;
	margin:0 auto;
	min-height:400px;
}

.nwt_root .main .inner .inner {
	width:auto;
	margin:0;
	min-height:0;
}

.top {
	background:#30486d;
	color:#FFF;
}

.top h1,
.top ul {
	width:1000px;
	margin:auto;
}

.top h1 {
	padding:8px 0;
}

.nav {
	border-top:1px solid #FFF;
	background:#899fc0;	
}

.top ul li {
	list-style-type:none;
	float:left;
}

.top h1 a, 
.top ul li a {
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
}

.nav ul {
	overflow:hidden;
}

.top ul li a {
	display:block;
	padding:8px 16px;
}

.top ul li a:hover {
	background:#5b7192;
}

.nwt_root .main .inner {
	background:#FFF;
}

.main .inner {
	padding:20px;
}

.main .inner .inner {
	padding:0;
}

.main .nwt_left {
	float:left;
	width:200px;
	background:#eaebf0;
	border-right:1px solid #BFC4CE;
	border-bottom:1px solid #BFC4CE;
}

.main .nwt_left ul li {
	list-style-type:none;
	background:#eaebf0;
	border-top:1px solid #BFC4CE;
}

.main .nwt_left ul li a {
	display:block;
	padding:4px 4px 4px 8px;	
}

.main .nwt_left ul li li a {
	padding-left:20px;
}

.main .nwt_left ul li a:hover {
	text-decoration:none;
	background:#d5d8e2;
}

.docs_main {
	float:left;
	width:570px;
	padding:0 0 0 15px;
}

/* Typography */
.main .inner a { text-decoration:none; color:#37436E; }
.main .inner a:hover { text-decoration:underline; color:#626CA1; }
.main .inner h1 { margin-bottom:18px; font-size:20px; font-weight:normal; }
.main .inner h2 { margin-bottom:16px; font-size:18px; font-weight:normal; }
.main .inner p {  margin-bottom:18px; }
.main .nwt_main .inner ul { padding-left:20px; margin-bottom:16px; }



.top .header {
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 49%, rgba(255,255,255,0.1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(49%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 49%,rgba(255,255,255,0.1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 49%,rgba(255,255,255,0.1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 49%,rgba(255,255,255,0.1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 49%,rgba(255,255,255,0.1) 100%); /* W3C */
}

.main .nwt_left ul li a {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%); /* W3C */
}